[submodule "cloudformation-aws-collection"]
	path = cloudformation-aws-collection
	url = git@github.com:hutchic-observe-meta/cloudformation-aws-collection.git
[submodule "terraform-aws-collection"]
	path = terraform-aws-collection
	url = git@github.com:hutchic-observe-meta/terraform-aws-collection.git
